<h1>Check strength of the password</h1>

<form class="form" [formGroup]="passwordForm">
  <mat-form-field class="password" appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Enter the password" formControlName="password">
  </mat-form-field>

  <div class="checkPassword">
    <div class="strength" [ngClass]="chooseColor(strength, 1)"></div>
    <div class="strength" [ngClass]="chooseColor(strength, 2)"></div>
    <div class="strength" [ngClass]="chooseColor(strength, 3)"></div>
  </div>
</form>



